body {
  padding-top: 50px;
}
.intriguing-things {
  padding: 40px 15px;
  text-align: center;
}
#waiting {
  color: red;
  text-align: center;
  font-weight: bold;
}
.item-title {
  margin-bottom: 10px;
  color: red;
}
.title {
  margin-bottom: 10px;
  font-weight: bold;
}
.num {
  margin-left: 10px;
}
.ps {
  margin-left: 20px;
}
.src-url {
  margin-left: 10px;
  font-size: 70%;
}
.src-url a {
  color: gray;
}
